{% extends '_base.html.twig' %}

{% block main %}

    <p>
        {{ database.query('SELECT COUNT(*) AS tot FROM pages WHERE template="building"').fetchColumn()|format_number({}) }} buildings.
    </p>

    {% set groups = database.query('SELECT SUBSTR(SUBSTR(id, 12 ), 0, INSTR(SUBSTR(id, 12 ), "/")) AS g FROM pages WHERE template="building" GROUP BY g ORDER BY g').fetchAll %}
    {% for group in groups %}

        <h2>{{group.g|replace({'_': ' '})}}</h2>

        <ol class="columns">
            {% for p in database.query('SELECT * FROM pages WHERE id LIKE "/buildings/'~group.g~'/%" ORDER BY title ASC') %}
                <li>
                    {% set title = p.title %}
                    {% if p.wikidata is defined and p.wikidata %}
                        {% set wikidata_item = wikidata( p.wikidata ) %}
                        {% set title = wikidata_item.labels.en.value %}
                    {% endif %}
                    <a href="{{page.link(p.id)}}.html">{{ title }}</a> 
                </li>
            {% endfor %}
        </ol>

    {% endfor %}

{% endblock %}
