{% extends '_base.html.twig' %}

{% block main %}

    <ol class="columns">
        {% for p in database.query('SELECT * FROM pages WHERE template="building" ORDER BY title ASC') %}
            <li>
                <a href="{{page.link(p.id)}}.html">{{p.title}}</a>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
